@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }

}

.inputRssForm {
  margin-top: 2%;
}

.formButton {
  float: right;
  margin-right: 1%;
}
